In [ ]:
# komentarz

# if

wielkosc = 5

print(wielkosc)

5

In [ ]:
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [ ]:
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [ ]:
studenci[2:]

['Kasia', 'Franek']

In [ ]:
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek

In [ ]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [ ]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [ ]:
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy

In [ ]:
n = 1

while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [ ]:
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2)
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

In [ ]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [ ]:
#studenci[0]
studenci[1:]
#studenci[:-1]

['Zosia', 'Kasia', 'Franek']

In [1]:
#### challenge 0.1

zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]
zajecia[2:]
# wyprintuj zajecia od srody do piatku
print(" Zajecia po koleii od środy do piątku:")
for numer , przedmioty  in enumerate(zajecia):
  if (numer==2):
    print(" Środa: {} ".format(przedmioty))
  elif (numer==3):
    print(" Czwartek: {} ".format(przedmioty))
  elif (numer==4):
    print(" Piątek: {} ".format(przedmioty))

# wyprintuj oprocz srody
print(" \nWszystkie zajęcia, oprócz odbywających się w środę:")
for numeric , przedmiociki  in enumerate(zajecia):
  if (numeric!=2):
    print("{}".format(przedmiociki))

 Zajecia po koleii od środy do piątku:
 Środa: relax
 Czwartek: mispy
 Piątek: piateczek

Wszystkie zajęcia, oprócz odbywających się w środę:
wf
informatyka
mispy
piateczek

In [ ]:
#### challenge 0.2

zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]
lista=[]
# zdefiniuj funkcje ktora poda ile jest zajec danego dnia
def ile_zaj_danego_dnia():
    for numeric , przedmiociki  in enumerate(zajecia):
      liczba=len(przedmiociki)
      print("{} : {} = {}".format(dnityg[numeric],przedmiociki, liczba))
      lista.append(liczba)
      lista.append(dnityg[numeric])
# lista_zajec_z_dnia -> ile ich jest

print(" \nLista zajec z dnia i ile ich jest:")
ile_zaj_danego_dnia()
print("--"*20)
# posortuj dni po najbardziej zajetych
print("Posortowane dni od najbardziej zajętego:")
k=0
sorted(lista[::2])
for e in reversed(lista):
    k+=1
    if (k%2!=0):
      print("{}".format(e))

print("--"*20)


#### challenge 0.3

# napisz program ktory znajdzie dzien z najwieksza iloscia mispow
print("Znajdowanie dnia z najwieksza iloscia mispow:")
Poniedzialek=zajecia[0]
Wtorek=zajecia[1]
Sroda=zajecia[2]
Czwartek=zajecia[3]
Piatek=zajecia[4]
n=0
Pon=0
Wto=0
Sro=0
Czw=0
Pia=0
a=0
b=0
c=0
d=0
for mm in enumerate(Poniedzialek):
  if ("misp" in Poniedzialek[b]):
      Pon+=1
  b+=1

for mmm in enumerate(Wtorek):
  if ("misp" in Wtorek[c]):
      Wto+=1
  c+=1

for mmmm in enumerate(Sroda):
  if ("misp" in Sroda[d]):
      Sro+=1
  d+=1

for m in enumerate(Czwartek):
  if ("misp" in Czwartek[a]):
      Czw+=1
  a+=1

for s in enumerate(Piatek):
  if ("misp" in Piatek[n]):
       Pia+=1
  n+=1

mispy=[]
mispy.append(Pon)
mispy.append(dnityg[0])
mispy.append(Wto)
mispy.append(dnityg[1])
mispy.append(Sro)
mispy.append(dnityg[2])
mispy.append(Czw)
mispy.append(dnityg[3])
mispy.append(Pia)
mispy.append(dnityg[4])
kik=0
sorted(mispy[::2])
for e in reversed(mispy):
    kik+=1
    if (k%2==0):
      print("{}".format(e))

Lista zajec z dnia i ile ich jest:
Pon : ['wf'] = 1
Wto : ['informatyka', 'nauka czytania'] = 2
Sro : ['relax', 'jedzenie'] = 2
Czwar : ['mispy', 'mispy w domu'] = 2
Pio : ['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu'] = 4
----------------------------------------
Posortowane dni od najbardziej zajętego:
Pio
Czwar
Sro
Wto
Pon
----------------------------------------
Znajdowanie dnia z najwieksza iloscia mispow:
Pio
3
Czwar
2
Sro
0
Wto
0
Pon
0

In [ ]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy= [("22","dwadziescia dwa"),
                 ("11","jedenascie"),
        ("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)

sorted(liczby, key=int)

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key=czy_jest_jeden)
         
sorted(liczby_i_nazwy,key=na_liczbe)

sorted(liczby_kolejnosc,key=na_liczbe_index)

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]

In [ ]:
sorted(liczby_kolejnosc)

<enumerate object at 0x7fad4ce5a870>